* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/*pruba de color para el body*/
.body {
    background: rgba(57, 48, 48, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    opacity: 80%;
    align-items: center;


}



.encabezado {

    font-style: italic;
    font-family: cursive;
    background: rgba(232, 187, 187, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.header {
    display: flex;
    justify-items: content;
    flex-direction: column;
    align-items: center;
    background: rgba(232, 187, 187, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

}

.encabezado {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.encabezado2 {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo {
    grid-area: logo;
    margin-right: 20px;
    padding: 10px;


}

.logo img {
    transition: 2s;
}

.logo img:hover {
    transform: rotate(20deg)
}

.titulo {
    grid-area: titulo;
}




.slogan {
    display: flex;
    grid-area: slogan;
    align-self: center;



}


/*llamado de class*/
.titulo {
    color: rgba(18, 20, 20, 0.973);
    font-family: cursive;
    font-size: 4rem;



}

.slogan {
    font: italic;
    color: rgb(8, 8, 8);
    font-family: cursive;
    font-size: 3rem;

}

.footer {
    background: rgba(232, 187, 187, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    text-align: right;
    font-size: 2rem;
    font-family: cursive;
    transition: 2s;

}




.bloquefooter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 100px;


}

.redes {
    display: flex;
    text-decoration: none;
    list-style: none;




}

.logo-redes li a {
    list-style: none;
    color: black;
    text-decoration: none;
}




.navegador {
    display: flex;
    justify-items: end;
    flex-direction: row;
    list-style: none;
    text-decoration: none;



}

.menu {
    display: flex;
    width: 200px;
    padding: 10px 10px;
    list-style: none;
    gap: 1rem;
    font-size: 1.5rem;
    font-family: cursive;
    text-decoration: none;


}

.menu li a {
    display: flex;
    text-decoration: none;

    justify-content: space-evenly;
    list-style: none;
    color: black;
}

.menu li:hover {
    transform: scale(1.1, 1.1);

}

.img-txt {

    display: flex;
    margin: 5px;
    background: rgba(232, 187, 187, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: auto;
    height: 350px;
    border: double 2px black;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 100px;
}

.imagen a {
    text-decoration: none;
    list-style: none;
    color: rgb(5, 4, 3);
}

.css-button-sharp--rose {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 2px solid rgba(232, 187, 187, 0.5);
    background: rgba(232, 187, 187, 0.5);
}

.css-button-sharp--rose:hover {
    background: #fff;
    color: rgba(232, 187, 187, 0.5)
}

.imagen {
    grid-area: imagen;
    margin-left: 50px;

}

.bloquedelTexto {
    display: flex;
    padding: 5px;
    right: 50px;
    top: 250px;
    font-size: 1rem;
    font-family: cursive;
    border: solid 2px black;
    margin: 5px;
    text-align: justify;
    flex-direction: row;
    background: rgba(232, 187, 187, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

}

/*------------------Estilo de Contacto-------------*/

.bloqueformulario {
    border: solid 2px black;
    /*background-color: rgb(194, 233, 243);*/
    padding: 20px;
    margin: 10px;
    font-size: 2rem;
    display: flex;
    gap: 50px;



}

.contacto {
    display: flex;
    width: 100%;
    justify-content: flex-start;

}

.img-contacto {
    align-items: flex-start;
}

.form-padre {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.formulario {
    display: flex;
    flex-direction: column;

}

form {
    display: flex;

}

/*------------------Estilo de Nosotros-------------*/


.bloquenosotros {
    border: solid 2px black;
    margin: 10px;
    padding: 50px;
    font-size: 2rem;
}

.imagennosotros {
    margin-left: 50px;

}

.textonosotros {
    border: solid 2px black;
    width: 300px;
    height: 300px;
    margin-right: 10px;
    margin-left: 700px;
    position: absolute;
    text-align: justify;
    overflow: scroll;


}

p {
    font-size: 2rem;
}

/*---------------Galeria------------------*/

.galeria {
    display: flex;
    justify-content: center;
    font-size: 2rem;


}

.imagenes {

    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 0.4fr 0.5fr 0.6fr;
    gap: 2px 2px;
    grid-template-areas:
        "portada portada cumple"
        "portada portada chocotorta"
        "cheesecake chaja oreo";
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 50px;

}


.portada {
    grid-area: portada;
    /*background-image: url(../multimedia/portada.jpeg);*/
    /*background-position: center;*/

}

.chaja {
    grid-area: chaja;
    /*background-image: url(../multimedia/chaja.jpg);
    /*background-position: center;*/
}

.cheesecake {
    grid-area: cheesecake;
    /*background-image: url(../multimedia/cheesecake-fresa.jpg);
    /*background-position: center;*/
}

.oreo {
    grid-area: oreo;
    /*background-image:url(../multimedia//tortaoreo.jpg);
    /*background-position: center;*/
}

.chocotorta {
    grid-area: chocotorta;
    /*background-image: url(../multimedia/chocotorta.webp);
    /*background-position: center;*/
}

/*--------------------UBICACION------------------*/

.ubicacion {
    display: flex;
    /*align-content: center;*/
    justify-content: center;
    font-size: 2rem;

}
















/*diseño para */
@media screen and (max-width:1200px) {}

@media screen and (max-width: 1040px) {
    .img-txt {
        display: flex
    }

    .imagen img {
        width: auto;
        height: 95px;
    }



}

@media screen and (max-width:769px) {}

@media screen and (max-width:575px) {}

@media screen and (max-width: 480px) {}



@media (max-width: 375px) and (min-width: 320px)