.bloquenosotros {
    border: solid 2px black;
    margin: 10px;
    padding: 50px;
    font-size: 2rem;
    margin-right: 10px;
    display: flex;
    background: $colorPrincipal;
    box-shadow: 0 8px 32px 0 $coloSecundario;
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    
}

.imagennosotros {
    margin-left: 50px;

}

.textonosotros {
    border: solid 2px black;
    width: auto;
    height: 300px;
    margin-right: 100px;
    margin-left: 700px;
    text-align: justify;
    position: absolute;


}

p {
    font-size: 2rem;
}
